.btn {
	display: inline-block;
	padding: 7px 30px;
	border: none;
	outline: none;
	background-color: rgb(49, 211, 8);
	border-radius: 10px;
	color: #ffffff;
}
.btn:focus {
	outline: none;
}
.btn:hover {
	background-color: white;
	color: rgb(49, 211, 8);
	border: 1px solid rgb(49, 211, 8);
}
