.container-fluid{
	background-color: darkmagenta;
	height:5rem;
}

.container{
	background-color: magenta;
	height:5rem;
}

.row{
	background-color: aqua;
	height: 4.7rem;
}

[class*="col-"]{
	background-color: azure;
	height: 4.2rem;
	border: 2px solid rgba(0,0,0,0.3);
}