.nav {
	display: block;
	padding: 2rem 5rem;
	background: transparent;
	width: 100%;
	height: 10rem;
	color: #ffffff;
	box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.5);
	z-index: 10;
	position: sticky;
	top: 0;
	left: 0;
}

.nav h1 {
	float: left;
}

.nav ul {
	float: right;
}

.nav::after {
	content: '';
	width: 100%;
	display: block;
	height: 10rem;
}

.nav-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	padding: 1rem;
	color: #fff;
	position: relative;
}

.nav-item:not(:last-child) {
	margin-right: 3rem;
}

.nav-link {
	color: #fff;
	font-size: 2rem;
	padding-bottom: 1rem;
	text-decoration: none;
	transition: all 0.1s;
	border-bottom: 0.4rem solid transparent;
}

.nav-link:hover {
	border-bottom: 0.4rem solid #ce4008;
}

.nav-link-active {
	color: #ce4008;
	border-bottom: 0.4rem solid #ce4008;
}

.nav-link--cartsize {
	display: inline-block;
	position: absolute;
	top: 1rem;
	left: 90%;
	padding: .5rem;
	border-radius: 50%;
	text-align: center;
	background: #c91a02;
	color: #fff;
}

.nav-logoName {
	font-size: 3.2rem;
	margin-left: 3rem;
}